.borrado-principal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #0c192c;
  height: 100vh; 
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.borrado-principal .bubbles {
  position: relative;
  display: flex;
}

.borrado-principal .bubbles span {
  position: relative;
  width: 2vw;
  height: 2vw;
  background: #38B5AD;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 
  0 0 50px #38B5AD, 
  0 0 100px #38B5AD;
  animation: animateBorradoPrincipal 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}

.borrado-principal .bubbles span:nth-child(even) {
  background:    #A0CF9F;



  box-shadow: 0 0 0 10px #4fc3dc44, 
  0 0 50px    #A0CF9F,
  0 0 100px    #A0CF9F;
}

@keyframes animateBorradoPrincipal {
  0% {
      transform: translateY(100vh) scale(0);
  }
  100% {
      transform: translateY(-10vh) scale(1);
  }
}

.borrado-principal {
  position: relative; /* Asegúrate de que borrado-principal tiene una posición establecida */
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el div */
  z-index: 2; /* Asegúrate de que el div está encima de los círculos */
  width: 400px;
  height: 400px;
  background-color:  #0c192c;
  color: white;
  border: 2px solid white; /* Establece un borde blanco de 2px */
  border-radius: 10px; /* Hace que el borde sea redondeado */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
}


.bubbles span {
  position: absolute;
  z-index: 1; /* Asegúrate de que los círculos están debajo del div */
  /* Resto de las propiedades de los círculos */
}

.poker {
  color: #38B5AD;
}

.united {
  color: #A0CF9F;
}

.mensajeUsuario {
  color: #fff;
  font-size: 20px; /* Ajusta esto al tamaño que necesites */
  width: 5px;
  letter-spacing: 0.1em; /*Espaciado entre letras*/
}

.info-div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  height: 200px; /* Ajusta esto a la altura que necesites */
  width: 100%;
}

.mensajeUsuario {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  color: #fff;
  font-weight: 500;
  width: 100%; /* Ajusta esto al ancho que necesites */
  letter-spacing: 0.1em; /*Espaciado entre letras*/
  font-size: 1.3em; /* Aumenta el tamaño de la letra */

  
}

.botonEntrar {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
}

.botonEntrar:active {
  opacity: 0.4;
}

.botonEntrar:disabled {
background:#A0CF9F; /* Cambia el color de fondo a gris claro */
cursor: not-allowed; /* Cambia el cursor a not-allowed */
color: #000000; /* Cambia el color del texto a gris oscuro */
}


.androidIcon {
animation: move 10s linear infinite;
font-size: 1000%; /* Ajusta esto al tamaño que necesites */
color: #A0CF9F;

}

.botonEntrarOculto {
visibility: hidden;
}

.mensajeUsuarioContainer {
display: flex;
flex-direction: column;
justify-content: center; /* Centrado vertical */
align-items: center; /* Centrado horizontal */
height: 200px; /* Ajusta esto a la altura que necesites */
width: 100%; /* Ajusta esto al ancho que necesites */
}
.inputBox-session {
position: relative;
width: 300px;
margin-top: 35px;
}

.inputBox-session input {
position: relative;
width: 100%;
padding: 20px 10px 10px; /*Arriba, derecha, abajo, izquierda*/
background: transparent;
outline: none; /*Elimina el borde al hacer click*/
border: none;
box-shadow: none; /*Elimina la sombra al hacer click*/
color: #23242a;
font-size: 1em;
letter-spacing: 0.05em;
transition: 0.5s; 
z-index: 10; /*Posiciona el elemento por encima de los demás*/
}

.inputBox-session span {
position: absolute;
left: 0; 
padding: 20px 0px 10px; /*Arriba, derecha, abajo, izquierda*/
pointer-events: none; /*Evita que el elemento sea seleccionado*/
color: #8f8f8f;
font-size: 1em;
letter-spacing: 0.05em;
transition: 0.5s;
} 

.inputBox-session input:valid ~ span,
.inputBox-session input:focus ~ span {
color: #fff;
font-size: 0.75em;
transform: translateY(-34px);
}

.inputBox-session i {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
background: #fff;
border-radius: 4px;
overflow: hidden;
transition: 0.5s;
pointer-events: none;
}

.inputBox-session input:valid ~ i, 
.inputBox-session input:focus ~ i {
height: 44px; 
}

.mensajeUsuario {
  text-align: center;
}