.main-sesion {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #0f1928;
    height: 100vh; 
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

/*main-nav*/

/*sesion-nav*/

.nombreUsuario {

  color: white;
}



/*Diseño boton de salur*/



/*otros*/

.sesion-juego {
  width: 100%; /* Añade esta línea */
  display: flex; /* Añade esta línea */
  justify-content: flex-start; /* Añade esta línea */
  margin-left: 2%;
}

.sesion-cartas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sesion-cartas ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.sesion-cartas ul li {
  margin: 0 3px;
  border: none;
}

.sesion-cartas ul li button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease; /* Añade esta línea */
}

.sesion-cartas ul li button:active {
  transform: translateY(-10px); /* Añade esta línea */
}

.carta {
  width: 45px;
  height: 45px;
}

.carta-reverso {
  width: 150px;
}

.sesion-juego ul {
  padding: 0;
  display: flex; /* Añade esta línea */
  justify-content: center; /* Añade esta línea */
}
