
.carta-btn {
    transition: transform 0.3s ease-in-out; /* Asegura una transición suave */
  }
  
  .carta-btn:hover {
    transform: translateY(-10px); /* Mueve la carta 10px hacia arriba */
  }

  .carta-btn.selected {
    transform: translateY(-10px); /* Mantiene la carta elevada */
    box-shadow: 0 0 12px #5898b7; /* Agrega una sombra azul */
  }

  .has-voted {
    box-shadow: 0 0 10px 5px #5898b7; /* Sombra azul si ha votado */
    border: 2px solid #5898b7; /* Borde azul si ha votado */
  }