.main-historial {
  overflow-y: scroll;
  height: 100vh; /* Ajusta esto a la altura que desees */
}

.historial-sesiones,
.historial-tareas,
.historial-votaciones {
  width: 90%;
  margin: 0 auto;
  margin-top: 1%;
}

.editable-cell {
    position: relative;
}
  
.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}
  
.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.my-table {
  width: 100%;
}

/* Reduce el padding de las celdas de la tabla */
.ant-table-cell {
  padding: 8px;
}

/* Reduce el espacio entre las filas de la tabla */
.ant-table-row {
  line-height: 0.5; /* Ajusta este valor según tus necesidades */
}

.ant-table-thead > tr > th {
  background-color: rgba(56, 181, 173, 0.8) !important; /* 0.5 es la opacidad */
  color: white !important;;
}